.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 5px solid #ffffff;
  margin-top:100px;
  

}

.logo {
  font-size: 40px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 0 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid papayawhip;

  


}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  gap: 2em;
  

  
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  display: flex;

  
  /* this removes the line under the links */
  text-decoration: none;
  justify-content: space-around;
  
  
}


body{
  background-color: rgb(174, 183, 197);
}

